<% if !session[:user_id] %>

    <body class="body">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h2 id="container" class="text-white-50 mx-auto mt-2 mb-5">log in or create an account to enter a world of flavor </h2>
                <%= link_to "Sign Up or Log In", login_path, :class=> 'btn btn-secondary' %>
            </div>
        </div>
        <div class="container-title">
        <h1 id="container" class="text">YOUTH JUICE</h1>
        </div>
    <body>
   <% else %>
   <body class="body">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h2 id="container" class="text-white-50 mx-auto mt-2 mb-5">Stay Young</h2>
                <%= link_to "Return to Recipes", recipes_path, :class=> 'btn btn-secondary' %>
            </div>
        </div>
        <div class="container-title">
        <h1 id="container" class="text">YOUTH JUICE</h1>
        </div>
    <body>
    <% end %>