<h3> For the inspired, creative drinkers searching for a tasteful drink sharing experience </h3>

<h4> Please log in or create an account to enter a world of flavor </h4>

<button class="main_log_button"> <%= link_to "Sign Up or Log In Here", login_path %></button>