<h2><%= @current_user.username %>'s libration creation</h2>
<ul>
    <% @a2.each do |recipe| %>
        <li><%= recipe.name %></li>
    <% end %>
</ul>
<h2><%= @current_user.username %>'s favorites</h2>
<ul>
    <% @a3.each do |recipe| %>
        <li><%= recipe.name %></li>
    <% end %>
</ul>

