

<div id="recipe-container">
    <h2 class="recipe-name"><%= @current_user.username %>'s libration creation</h2>
    <ul class="ingredients-ul">
    <% @a2.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
    </ul>
</div>
<div id="recipe-container">
    <h2 class="recipe-name"><%= @current_user.username %>'s bookmark</h2>
    <ul class="ingredients-ul">
        <% @a3.each do |recipe| %>
            <li><%= link_to recipe.name, recipe_path(recipe) %></li>
        <% end %>
    </ul>
</div>