
<h2 id="main-title">Sign Up</h2>

<%= render 'form' %>

<div class="button-area" id="newuserbuttonarea">
<p class="main-tagline"> Have an account?</p>
<%= link_to "Click Here to Log In", login_path, :class=> 'btn btn-secondary' %>
</div>
