<h1> All Ingredients </h1>
<ul>
    <div class="list_all"> 
        <% @ingredients.each do |i| %>
        <li><%= link_to i.name, ingredient_path(i) %></li>
        <% end %>
    </div>
</ul>

<%= link_to "Create an Ingredient", new_ingredient_path, :class=> 'btn btn-secondary' %>
