// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.welcome{
    border-radius: 25px;
    background-color: rgba(204, 204, 204, 0.801);
    margin: 100px;
    padding: 40px;
    text-align: center;
    height: 300px;
}

#age-thing{
    margin: 25px;
    width: 90px;
}